<div class="feedPane">
	<% @store.ratings.each do |rating| %>
		<div class="feedWrap clearfix">
			<div class="thumbWrap">
				<%= image_tag rating.user.profile_pic(:thumb), class: "userThumb", alt: rating.user.name %>
			</div>
			<div class="userLink">
				<%= link_to rating.user.name, rating.user, class: "thumbLink" %>
				<span class="headDescrip">rated</span><span class="star star-<%= rating.rating %>"><span class="headDescrip">'s</span>
						<b><%= rating.created_at.to_s(:easy_date) %></b>
					</span>
				<span class="commentText"><%= rating.comment %></span>
			</div>
		</div>
	<% end %>
</div>