<div class="bodyHead clearfix">
	<h1 class="bodyTitle"><%= @map.city.capitalize %>,&nbsp;<%= @map.state %></h1>
	<ul class="bodyMenu" id="<%= @map.city.downcase %>">
		<%= render 'layouts/city_menu' %>
	</ul>
</div>
<%= render 'map' %>