<div class="bodyHead clearfix">
	<h1 class="bodyTitle"><%= @map.city.capitalize %>,&nbsp;<%= @map.state %></h1>
	
	<ul class="bodyMenu" id="<%= @map.city.downcase %>">
		<li><%= link_to "Los Angeles", "#" %></li>
		<li><%= link_to "San Francisco", "#" %></li>
		<li><%= link_to "San Jose", "#" %></li>
		<li><%= link_to "Portland", "#" %></li>
		<li><%= link_to "Denver", "#" %></li>
		<li><%= link_to "Chicago", "#" %></li>
	</ul>
</div>

<div id="mapWrap">
	<div id="gmap"></div>
</div>