<div class="photoFormWrap">
	<%= form_for @photo, html: {multipart: true} do |f| %>
		<%= render 'shared/error_messages' %>
		<%= hidden_field_tag "store_id", 0 %>
		<%= f.file_field :feed_pic, class: "uploadPic" %>
		<div id="picPreviewWrap">
			<img class="picPreview" alt="Add a photo!" />
		</div>
		<%= f.submit "Post", class: "btnSmall", disabled: true %>
	<% end %>
</div>
