<div class="photoFormWrap">
	<%= form_for @photo, html: {multipart: true} do |f| %>
		<%= render 'shared/error_messages' %>
		<%= f.hidden_field :store_id, value: 0 %>
		<%= f.hidden_field :user_id, value: @user.id %>
		<%= f.file_field :photo, class: "uploadPic" %>
		<div class="previewPicWrap previewFeedPic">
		</div>
		<%= f.submit "Add Photo", class: "btnSmall", id: "addPhotoBtn", disabled: true %>
	<% end %>
</div>
