
	<li><%= link_to "Los Angeles", "#" %></li>
	<li><%= link_to "San Francisco", "#" %></li>
	<li><%= link_to "San Jose", "#" %></li>
	<li><%= link_to "Portland", "#" %></li>
	<li><%= link_to "Denver", "/maps/denver", method: :get %></li>
	<li><%= link_to "Chicago", "#" %></li>
