
	<li><%= link_to "Los Angeles", "/maps/los-angeles", method: :get %></li>
	<li><%= link_to "San Francisco", "/maps/san-francisco", method: :get %></li>
	<li><%= link_to "San Jose", "/maps/san-jose", method: :get %></li>
	<li><%= link_to "Portland", "/maps/portland", method: :get %></li>
	<li><%= link_to "Denver", "/maps/denver", method: :get %></li>
	<li><%= link_to "Chicago", "/maps/chicago", method: :get %></li>
